
.card_box{
    width: 30%;
    height: 70vh;
    min-width: 350px;
    min-height: 400px;
    border-radius: 1px;
    box-shadow: 10px 10px 45px rgba(0,0,0,0.1);
    padding: 0 50px;
    overflow: hidden;
    background-color: rgba(25, 25, 25, 0.2);
    backdrop-filter: blur(3px);
    border-top: 3px solid rgba(255,255,255,0.7);
    

    
    
}
h1, h2, h3, h4, h5{
    text-align: center;
    color:white;
    font-weight: 400;
}
h3{
    font-size: 1em;
}
p{
    font-size: 0.8em;
    display: block;
    text-align: center;
    color:white;
    font-weight: 200;
}
svg{
    font-size: 5em;
    display: block;
    color:white;
    font-weight: 200;
    margin:30px;
}
.hero_card{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}
h5{
    margin: 10px;
    color:#f4f4f4;
    font-size: 0.8em;
}