.header{
    position: fixed;
    height: 70px;
    width: 100%;
    top:0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    background-color: #431169;
    color:white;
    z-index: 4;
    backdrop-filter: blur(4px);
}
.options i{
    color:rgba(255,255,255,0.7);
    font-size: 20px;
    border-radius: 10px;
    margin: 2px;
    padding: 10px;
    
}